---
layout: post-index
title: Web Developer
description: "Learn to develop from someone who was once as clueless as you."
tags: [web development, programming, Ruby, CSS, Sass, Foundation, Compass, Git]
image:
  feature: abstract-1.jpg
---

<h2>Summer of fun!</h2>
<p>So I'm learn how to code/develop/program/all the above and it is a blast. It's difficult and when thte code doesn't work
there's not much more frustrating. But when it does work, there's nothing more satisfying. (ok, dramatic, but it's amazing
when you get something to work.</p>

<p>This blog will be helping those who are also learning to code. Unfortunately the documentation online seems to be mostly for 
those who already know how to code - which really does no one any good. I can write from the point of view of someone who doesn't
have a technical background and can go over things I didn't understand. </p>

<p>Feel free to follow me on <a href="https://github.com/trevordjones" target="_blank">Github</a> to check out my latest projects. (Not much on there now...but there will be.) This site will also be home to other websites I start pitching in on.<p>

<h3><a href="{{ site.url }}/posts/">Check out my posts and enjoy!</a></h3>

<hr>

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>{% if site.disqus_shortname and post.comments %}&nbsp; &bull; &nbsp;<span class="entry-comments"><a href="{{ site.url }}{{ post.url }}#disqus_thread">Comment</a></span>{% endif %}
      {% if site.reading_time %}
      <span class="entry-reading-time pull-right">
        <i class="fa fa-clock-o"></i>
        {% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
        Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}"><i class="fa fa-angle-double-right"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content | strip_html | truncatewords:150}}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}


<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" class="btn">Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    Previous
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="{{ site.url }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    Next
  {% endif %}
</div>